.list-div {
  width: 70%;
  margin: 0 auto 0 auto;
  padding: 4%;
  text-align: justify;
}

ul {
  list-style: none;
}

li {
  margin-left: -1.6em;
  margin-bottom: 5%;
}

.fa-trash,
.fa-edit,
.fa-check {
  border: none;
  background: none;
  outline: none;
  font-size: 30px;
}

.fa-check:hover {
  color: #28a745;
  cursor: pointer;
}

.fa-edit:hover {
  color: #007bff;
  cursor: pointer;
}

.fa-trash:hover {
  color: #dc3545;
  cursor: pointer;
}
