.App {
  text-align: center;
}

body {
  background: rgb(54, 78, 214);
}

.center-div {
  height: 700px;
  width: 500px;
  margin: 5% auto 0 auto;
  background-color: #fff;
  border-radius: 5px;
  overflow: auto;
  position: relative;
}

.header-div {
  margin-top: 10%;
  padding: 1px;
  background-color: rgb(153, 151, 151);
  text-align: center;
}

.input-div {
  width: 70%;
  margin: 5% auto 0 auto;
  padding: 4%;
}

.add-item {
  width: 200px;
  height: 60px;
  border: none;
  border-bottom: 1px solid black;
  margin-right: 10%;
  outline: none;
  font-size: 18px;
}

.check {
  font-size: 18px;
  margin-left: 19%;
}

.fa-arrow-circle-right:hover {
  color: #28a745;
  cursor: pointer;
}
