.list-div{
  width: 70%;
  margin: 0 auto 0 auto;
  padding: 4%;
  text-align: justify;
}

ul{
  list-style: none;
}

li{
  margin-left: -1.6em;
  margin-bottom: 5%;
}

.remove-item-btn{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  outline: none;
  font-size: 22px;
  color: #fff;
  background-color: rgb(54, 78, 214);
  border: none;
  margin-right: 5%;
  padding: 5px;
}

.remove-item-btn:hover {
  background-color: rgb(255, 8, 8);
  color: black;;
}
